<header>
    
   <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin/login">Only Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/products">all products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/orders">all orders</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/admin/user">all users</a>
        </li>
      </ul>

  <ul class="nav navbar-nav"> 
     {{#if admin}}
      {{!-- <a class="dropdown-item" href="/logout">logout</a> --}}
     <a class="btn btn-danger navbar-btn"    href="/logout"  >logout</a>
    {{else}}
    {{!-- <a class="dropdown-item" href="/login">Login</a> --}}
    {{/if}}
  </ul>
</div>
    </div>

</nav>
   </header>