<section>
  <div class="row">
    <div class="container mt-5">
      <div class="col-md-12 text-center">
        <h1 class="text-center">Order placed successfully</h1>
        <a href="/orders" class="btn btn-warning mt-4">View Orders</a>
      </div>
    </div>
  </div>
</section>


